PORT=3004
NODE_ENV=development
CORS_ORIGIN='http://localhost:8080'
FRONTEND_URL='http://localhost:8080'
SIGNUP_FLAG=disabled

SECRET_KEY=somesupermegasecretkey

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=AUDIO_LIBRARY

R2_BUCKET_NAME=audio-library
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

SENDGRID_API_KEY=
SENDGRID_SENDER=